{
    "username": "YouTube",
    "avatar_url": "https://blog.eu.playstation.com/files/avatars/avatar_4364447.jpg",
    "embeds": [
        {
            "title": "{{Title}}",
            "description": "**Nouvelle vidéo** de **{{AuthorName}}** {{Title}}, {{CreatedAt}} à l'adresse {{Url}}",
            "url": "{{Url}}",
            "color": 16711680,
            "footer": {
                "icon_url": "https://yt3.ggpht.com/-BfFeQSd9hn8/AAAAAAAAAAI/AAAAAAAAAAA/wsVMOnuv63s/s100-c-k-no-mo-rj-c0xffffff/photo.jpg",
                 "text": "Made by DidierA52
#7847"
            },
            "thumbnail": {
                "url": "https://yt3.ggpht.com/-BfFeQSd9hn8/AAAAAAAAAAI/AAAAAAAAAAA/wsVMOnuv63s/s100-c-k-no-mo-rj-c0xffffff/photo.jpg"
            },
            "author": {
                "name": "{{AuthorName}}",
                 "url": "https://www.youtube.com/channel/UC7JVrQVwBZ93CaVnqU7SdpQ",
                "icon_url": "https://yt3.ggpht.com/-BfFeQSd9hn8/AAAAAAAAAAI/AAAAAAAAAAA/wsVMOnuv63s/s100-c-k-no-mo-rj-c0xffffff/photo.jpg"
            }
        }
    ]
}
